html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.date-container {
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 20px auto;
  max-width: 500px;
  font-size: 24px;
  font-family: Arial, sans-serif;
}
#ParkingRulesLabel {
  visibility: hidden;
}
